/*
    尘遇-字体
*/
@font-face {
	font-family: "ysniziti";
	src: url(https://cdn.jsdelivr.net/gh/cy-j/chenyu/font/blockdole.woff2) format("woff2"),
	url(https://cdn.jsdelivr.net/gh/cy-j/chenyu/font/blockdole.woff) format("woff"),
	url(https://cdn.jsdelivr.net/gh/cy-j/chenyu/font/blockdole.eot) format("embedded-opentype");
	font-display: swap;
  }

/*
    尘遇-海报点赞赞赏
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 13px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 6px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .ysnihb:hover,
.wrapper .ysnihb:hover .tooltip,
.wrapper .ysnihb:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .ysnidz:hover,
.wrapper .ysnidz:hover .tooltip,
.wrapper .ysnidz:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .ysnizs:hover,
.wrapper .ysnizs:hover .tooltip,
.wrapper .ysnizs:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .ysnihy:hover,
.wrapper .ysnihy:hover .tooltip,
.wrapper .ysnihy:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .ysnixx:hover,
.wrapper .ysnixx:hover .tooltip,
.wrapper .ysnixx:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* 尘遇-好久不见 */
.footer-fav {
	position: relative;
	/*z-index: 20;*/
	overflow: hidden;
	width: 100%;
	background: #f7fafc;
	background: #edf3f9
}

@media (min-width:768px) {
	.footer-fav {
		overflow: visible;
		width: auto;
		background: #edf3f9
	}
}

.footer-fav .container {
	overflow: visible;
	padding-top: 36px;
	padding-bottom: 36px
}

.footer-fav .site-info {
	width: 60%
}

@media (min-width:768px) {
	.footer-fav .site-info {
		display: inline-block;
		width: auto
	}
}

.footer-fav .site-info h2 {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.4
}

@media (min-width:768px) {
	.footer-fav .site-info h2 {
		font-size: 26px
	}
}

.footer-fav .site-info h2 a {
	color: #000
}

.footer-fav .site-info .site-p {
	margin-bottom: 10px
}

.footer-fav .site-info .site-p p:first-child:after {
	content: ','
}

@media (min-width:768px) {
	.footer-fav .site-info .site-p {
		margin-bottom: 0
	}

	.footer-fav .site-info .site-p p:first-child:after {
		content: ''
	}
}

.footer-fav .site-info p {
	display: inline;
	margin-bottom: 10px;
	color: #797979;
	font-size: 9pt;
	line-height: 1.8
}

@media (min-width:768px) {
	.footer-fav .site-info p {
		display: block;
		margin-bottom: 0;
		font-size: 14px
	}
}

.footer-fav .site-fav {
	padding-top: 5px
}

@media (min-width:768px) {
	.footer-fav .site-fav {
		float: right;
		display: block;
		padding-top: 24px
	}
}

.footer-fav .site-fav .btn-orange {
	padding: 0 1.2em;
	font-size: 14px;
	line-height: 2.5
}

@media (min-width:768px) {
	.footer-fav .site-fav .btn-orange {
		padding: 0 1.5em;
		color: #fff;
		font-size: 1pc;
		line-height: 3.5
	}
}

.footer-fav .site-girl {
	position: absolute;
	bottom: 0px;
	left: 50%
}

.footer-fav .site-girl .girl {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 350px;
	transition: all .3s
}

@media (min-width:768px) {
	.footer-fav .site-girl .girl {
		left: -200px
	}
}

.footer-fav .site-girl .girl:after {
	position: absolute;
	top: 40%;
	right: 100%;
	display: block;
	visibility: hidden;
	color: #a7a7a7;
	content: '好久不见';
	font-size: 20px;
	opacity: 0;
	transition: all .2s;
	transition: all .3s
}

.footer-fav .site-girl .thumb {
	display: block;
	padding-top: 60%
}

.footer-fav .site-girl .girl-info {
	margin-bottom: 38px;
	margin-left: 150px
}

.footer-fav .site-girl h4 {
	color: #797979;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8
}

.footer-fav .site-girl a {
	color: #797979
}

.footer-fav .site-girl a:hover {
	color: #ff5c00
}

@media (min-width:768px) {
	.footer-fav:hover .site-girl .girl {
		left: -8pc
	}

	.footer-fav:hover .site-girl .girl:after {
		visibility: visible;
		opacity: 1;
		transition: all .2s
	}
}

@media (max-width:767px) {
	.footer-fav .btn-group>.btn:last-child {
		border-radius: 3px
	}
}

@media (max-width:767px) {
	.home .footer-fav {
		display: none
	}
}
.btn-orange {
	display: block;
	outline: 0;
	border: none;
	border-radius: 3px;
	background: var(--theme);
	color: #fff;
	text-align: center;
	line-height: 2.4;
	cursor: pointer
}

/* 尘遇-内容隐藏不显示 */
.chenyuhide {
    display:none;
}


/* 尘遇-公告 */
.btn-large,.load-all,.popup-btn,.popup-btn-o,.page-number
{
	padding:0 15px;
	line-height:40px;
	font-size:14px;
	display:inline-block;
	border-radius:10px
}
.btn-gray:hover,.more:hover,.load-all:hover,.module-tab-item:hover,.module-blocklist a:hover,.video-info-aux .tag-link:hover,.page-number:hover
{
	background:#eaedf1
}
.btn-main,.popup-btn
{
	background:#ff2a14;
	color:#fff
}
.popup
{
	box-shadow:0 .25rem .5rem rgba(0,0,0,.05),0 1.5rem 2.2rem rgba(0,0,0,.1)!important;
	padding:0 30px;
	background:#fff;
	width:400px;
	position:fixed;
	top:50%;
	left:50%;
	z-index:999999;
	transform:translateX(-50%) translateY(-50%);
	margin:0 auto;
	border-radius:18px
}
.popup::after
{
	content:'';
	height:80px;
	width:100%;
	background:#eaedf1;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	border-radius:18px 18px 0 0
}
.popup-header
{
	line-height:40px;
	text-align:center
}
.popup-title
{
	position:relative;
	font-size:18px;
	font-weight:900;
	display:inline-block
}
.popup-title::after
{
	content:'';
	position:absolute;
	width:100%;
	height:30%;
	background:#fde6dd;
	border-radius:5px;
	left:0;
	bottom:5px;
	z-index:-1
}
.close-popup:hover
{
	background:#fff
}
.close-popup i
{
	transform:scale(.88);
	font-size:12px;
	color:#fff
}
.close-popup:hover i
{
	color:#ff2a14
}
.popup-icon
{
	width:100%;
	text-align:center;
	height:220px;
	margin:-60px 0 0
}
.popup-icon img
{
	height:220px
}
.popup-main
{
	padding-bottom:20px
}
.popup-main p
{
	padding:12px 0 0
}
.popup-main p a
{
	color:#ff2a14
}
.popup strong
{
	color:#ff2a14
}
.popup-footer
{
	padding:10px 0 30px;
	text-align:center
}
.popup-footer p
{
	margin-top:10px
}
.popup-btn
{
	font-weight:700;
	border-radius:50px;
	width:100%;
	cursor:pointer
}
.popup-btn-o
{
	color:#ff2a14;
	font-weight:700;
	width:50%;
	margin:5px 5px;
	cursor:pointer
}
.popup-btn-o::after
{
	border-color:#ff2a14;
	border-radius:50px
}
.popup-msg
{
	position:fixed;
	width:280px;
	z-index:9999999;
	height:auto;
	padding:30px;
	top:50%;
	left:50%;
	margin:-50px 0 0 -140px;
	text-align:center;
	color:#fff;
	background-color:rgba(7,7,10,.92);
	border-radius:10px
}
.popup-tips::after
{
	background:0 0
}