a {
	text-decoration: none;
}

div.usercm {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #fff;
	font-size: 13px!important;
	width: 130px;
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 15px #333;
	position: absolute;
	display: none;
	z-index: 10000;
	opacity: 0.9;
	border-radius: 8px;
}

div.usercm ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
	display: block;
}

div.usercm ul li {
	margin: 0px;
	padding: 0px;
	line-height: 35px;
}

div.usercm ul li a {
	color: #666;
	padding: 0 15px;
	display: block;
}

div.usercm ul li a:hover {
	color: #fff;
	background: rgba(64,158,255,0.88);
}

div.usercm ul li a i {
	margin-right: 10px;
}

a.disabled {
	color: #c8c8c8!important;
	cursor: not-allowed;
}

a.disabled:hover {
	background-color: rgba(255,11,11,0)!important;
}

div.usercm {
	background: #fff !important;
}