*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*是一个元素或者一个盒子具有一定的边框线或者边框*/
    font-family: "Cambria Math",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #060c21;
    float: left;
}
.box .imgBox{
    position: absolute;
    top: 0;     left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}
.box:hover{
    height: 500px;
}
.box .imgBox img{
    max-width:100%;
    opacity: 0.1;
    transition: 0.5s;



}
.box:hover .imgBox img{
     opacity: 1;

}
.box:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #FFFFFF;
    z-index:-1;
}
.box:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #FFFFFF;
    z-index:-2;
    filter: blur(40px);
}
.box:before,.box :after{
    background:linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
    background:linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
    background:linear-gradient(235deg,#772aff,#010615,#2196fc);
}
.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /*设置div盒子元素的背景透明度越靠近1越不透明*/
    transition: 0.5s;
    /*向下伸长实现效果时间*/

}

.box .content{
    bottom: 10px;
}

.box:hover .content{
    opacity: 1;

}
.box .content h2{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

